*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.checked {
    color: orange;
}
/* Main */
.body{
    width: 1603px;
    height: 5687px;
    background-color: rgba(255, 255, 255, 1);
}
/* Header */

.head_container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 295px;
    width: 1603px;
    height: 95px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgba(249, 252, 255, 1);
}
.head_info{
    display: flex;
    gap: 48px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    width: 444px;
    height: 25px;
    display: flex;
    margin-bottom: 10px;
}
.head_search {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
}
.head_input_search {
    border: 1px solid rgba(235, 239, 246, 1);
}
.head_search > i{
    position: absolute;
    left: 50px;
}
/* Main */
/*Container_1*/
.container_1{
    display: flex;
    gap: 251px;
    width: 1603px;
    height: 826px;
    padding: 80px;
    background-color: rgba(249, 252, 255, 1);
}
.div_adv_main{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.div_adv_main > div:nth-child(1) > div:nth-child(1){
    width: 624px;
    height: 144px;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}
.div_adv_main > div:nth-child(1) > div:nth-child(2){
    width: 624px;
    height: 72px;
    opacity: 70%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(26,36,52,1);
}
.div_adv_main > div:nth-child(2) {
    display: flex;
    width: 624px;
    height: 77px;
    gap: 16px;
}
.button_adv_1 {
    width: 304px;
    height: 77px;
    border-radius: 16px;
    padding: 24px 80px 24px 80px;
    background-color: rgba(164, 7, 77, 1);
}
.button_adv_1 > p {
    width: 167px;
    height: 29px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    
    gap: 14px;
}
.button_adv_2{
    width: 304px;
    height: 77px;
    border-radius: 16px;
    padding: 24px 80px 24px 80px;
    background-color: white;
    border: 1px solid rgba(164, 7, 77, 1);
}
.button_adv_2 > p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 136px;
    height: 29px;    
}
.div_adv_main > div:nth-child(3) {
    width: 624px;
    height: 82px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.trusted {
    width: 624px;
    height: 24px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.div_adv_img > img {
    width: 405px;
    height: 666px;
    border-radius: 24px;
}
.div_adv_instructor{
    position: relative;
}
.div_adv_instructor > img {
    width: 296px;
    height: 176px;
    border-radius: 16px;
    padding: 16px, 32px, 16px, 32px;
    gap: 16px;
    position: absolute;
    left: -850px;
    top: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0px;
}

/* Container 2 */
.container_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1603px;
    height: 689px;
    padding: 80px;
    gap: 80px;
    background-color: rgba(255, 255, 255, 1);
}

.div_title {
    width: 439px;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.div_title > div {
    display: flex;
    gap: 20px;
}
.div_title > div > img {
    width: 64px;
    height: 5px;
    margin-top: 10px;
    
} 
.div_title > div > p{
    width: 179px;
    height: 29px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left; 
}
.div_title > p{
    width: 439px;
    height: 43px;
    color: rgba(26, 36, 52, 1);
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
}
.div_content_container{
    display: flex;
    gap: 24px;
}
.div_content_container > div {
    display: flex;
    flex-direction: column;
    width: 336.75px;
    height: 361px;
    border-radius: 16px;
    border: 1px solid rgb(6, 55, 104);
    padding: 24px;
    gap: 24px;
}
.div_content_container > div > img {
    width: 80px;
    height: 80px;
}
.text_1{
    width: 288.75px;
    height: 29px;
    color:rgba(26, 36, 52, 1) ;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;  
}
.text_2 {
    width: 288.75px;
    height: 108px;
    opacity: 70%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color:rgba(26, 36, 52, 1) ;    
}
.div_content_container > div > div {
    display: flex;
    gap: 16px;
}
.div_content_container > div > div > p {
    width: 114px;
    height: 24px;
    opacity: 70%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(26, 36, 52, 1);
}
.div_content_container > div > div > i {
    width: 24px;
    height: 24px;
    opacity: 70%;
    transform: translateY(25%);
}
/* Container 3 */
.container_3 {
    display: flex;
    flex-direction: column;
    width: 1603px;
    height: 777px;
    padding: 80px;
    gap: 80px;
    background-color: rgba(249, 252, 255, 1);
}
.div_info_container {
    display: flex;
    align-items: center;
    width: 1443px;
    height: 360px;
    gap: 80px
}
.div_info_container > img {
    width: 681.5px;
    height: 360px;
    border-radius: 16px;
}
.div_info {
    width: 681.5px;
    height: 360px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.div_info_1 {
    display: flex;
    flex-direction: column;
    width: 681.5px;
    height: 88px;
    gap: 16px;
}
.div_info_1 > div {
    display: flex;
    width: 193px;
    height: 29px;
    gap: 24px;
}
.div_info_1 > div > img {
    width: 64px;
    height: 5px;
    margin-top: 10px;
}
.div_info_1 > div > p {
    width: 105px;
    height: 29px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;
}
.div_info_1 > p:nth-child(2) {
    width: 681.5px;
    height: 43px;
    color: rgba(26, 36, 52, 1);
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
}
.div_info_2 {
    display: flex;
    flex-direction: column;
    width: 681.5px;
    height: 232px;
    gap: 16px;
}
.div_info_2 > p:nth-child(1) {
    width: 681.5px;
    height: 144px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
}
.div_info_2 > button {
    display: flex;
    width: 307px;
    height: 72px;
    border-radius: 16px;
    padding: 24px, 80px, 24px, 80px;
    gap: 16px;
    background-color: rgba(164, 7, 77, 1);
    position: relative;
}
.div_info_2 > button > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div_info_2 > button > div > p {
    width: 114px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    display: inline-block;
}
.div_info_2 > button > div > i {
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
}
.div_info_container_2 {
    display: flex;
    width: 1,443px;
    height: 177px;
    gap: 16px;
    border-radius: 24px;
    opacity: 0px;
}
.info_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 348.75px;
    height: 177px;
    padding: 24px 40px 24px 40px;
    gap: 16px;
    border-radius: 24px;
}
.info_1 > div {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.info_1 > div > p:nth-child(1) {
    width: 60px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: black;
}
.info_1 > div > p:nth-child(2) {
    width: 60px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: rgba(164, 7, 77, 1);
} 
.info_1 > p {
    width: 268.75px;
    height: 36px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    transform: translateX(-8%);
}
.info_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 348.75px;
    height: 177px;
    padding: 24px 40px 24px 40px;
    gap: 16px;
    border-radius: 24px;
}
.info_2 > div {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.info_2> div > p:nth-child(1) {
    width: 115px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: black;
}
.info_2 > div > p:nth-child(2) {
    width: 60px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: rgba(164, 7, 77, 1);
} 
.info_2 > p {
    width: 268.75px;
    height: 36px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    transform: translateX(-5%);
}
.info_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 348.75px;
    height: 177px;
    padding: 24px 40px 24px 40px;
    gap: 16px;
    border-radius: 24px;
}
.info_3 > div {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.info_3 > div > p:nth-child(1) {
    width: 75px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: black;
}
.info_3 > div > p:nth-child(2) {
    width: 60px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: rgba(164, 7, 77, 1);
} 
.info_3 > p {
    width: 268.75px;
    height: 36px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    transform: translateX(-5%);
}
.info_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 348.75px;
    height: 177px;
    padding: 24px 40px 24px 40px;
    gap: 16px;
    border-radius: 24px;
}
.info_4 > div {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.info_4 > div > p:nth-child(1) {
    width: 75px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: black;
}
.info_4 > div > p:nth-child(2) {
    width: 60px;
    height: 77px;
    font-family: Plus Jakarta Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
    color: rgba(164, 7, 77, 1);
} 
.info_4 > p {
    width: 268.75px;
    height: 36px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
}
/* Container 4 */
.container_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1603px;
    height: 1100px;
    padding: 80px ;
    gap: 80px;
}
.our_class_title_container {
    width: 293px;
    height: 88px;
    gap: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our_class_title {
    display: flex;
    width: 202px;
    height: 29px;
    gap: 24px;
    opacity: 0px;  
}
.our_class_title > img {
    width: 64px;
    height: 5px;
    margin-top: 10px;
}
.our_class_title > p {
    width: 114px;
    height: 29px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;    
}  
.our_class_title_container > p {
    width: 293px;
    height: 43px;
    color: rgba(26, 36, 52, 1);
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
}
.course_list_container {
    display: flex;
    width: 754px;
    height: 77px;
    padding: 8px;
    border-radius: 40px ;
    background-color: rgba(244, 244, 244, 1);
}
.uiux_course {
    width: 246px;
    height: 61px;
    padding: 16px;
    gap: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}
.uiux_course > p {
    width: 157px;
    height: 29px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;
}
.web_dev_course {
    width: 246px;
    height: 61px;
    padding: 16px;
    gap: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}
.web_dev_course > p {
    width: 214px;
    height: 29px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;  
}
.data_science_course {
    width: 246px;
    height: 61px;
    padding: 16px;
    gap: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}
.data_science_course > p {
    width: 214px;
    height: 29px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;  
}
.price_list_container_2 {
    width: 1443px;
    height: 463px;
    gap: 24px;
    display: flex;
}
/* -------------------------------------------------- */
.price_1_container {
    width: 342.75px;
    height: 429px;
    border-radius: 16px;
}
.price_1_container > img {
    width: 342.75px;
    height: 240px;
    border-radius: 16px 16px 0px 0px;
}
.price_1_container > div {
    display: flex;
    flex-direction: column;
    width: 342.75px;
    height: 189px;
    padding: 16px 24px 16px 24px;
    gap: 24px;  
}
.price_1_container > div > p {
    width: 294.75px;
    height: 68px;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_1_container > div > div{
    width: 294.75px;
    height: 17px;

    display: flex;
    justify-content: space-between;
}
.price_1_container > div > div > div {
    display: flex;
    gap: 8px;
    width: 94px;
    height: 17px;
}
.lesson_time{
    width: 69px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_div {
    display: flex;
    width: 294.75px;
    height: 24px;
    gap: 16px;
}
.price_div > p {
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.price_div > div {
    display: flex;
    width: 61px;
    height: 24px;
    gap: 4px;
    padding-left: 25px;
}
.price_rate{
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
/* -------------------------------------------------- */
.price_2_container {
    width: 342.75px;
    height: 429px;
    border-radius: 16px;
}
.price_2_container > img {
    width: 342.75px;
    height: 240px;
    border-radius: 16px 16px 0px 0px;
}
.price_2_container > div {
    display: flex;
    flex-direction: column;
    width: 342.75px;
    height: 189px;
    padding: 16px 24px 16px 24px;
    gap: 24px;  
}
.price_2_container > div > p {
    width: 294.75px;
    height: 68px;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_2_container > div > div{
    width: 294.75px;
    height: 17px;

    display: flex;
    justify-content: space-between;
}
.price_2_container > div > div > div {
    display: flex;
    gap: 8px;
    width: 94px;
    height: 17px;
}
.lesson_time{
    width: 69px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_div {
    display: flex;
    width: 294.75px;
    height: 24px;
    gap: 16px;
}
.price_div > p {
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.price_div > div {
    display: flex;
    width: 61px;
    height: 24px;
    gap: 4px;
    padding-left: 25px;
}
.price_rate{
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
/* -------------------------------------------------- */
.price_3_container {
    width: 342.75px;
    height: 429px;
    border-radius: 16px;
}
.price_3_container > img {
    width: 342.75px;
    height: 240px;
    border-radius: 16px 16px 0px 0px;
}
.price_3_container > div {
    display: flex;
    flex-direction: column;
    width: 342.75px;
    height: 223px;
    padding: 16px 24px 16px 24px;
    gap: 24px;  
}
.price_3_container > div > p {
    width: 294.75px;
    height: 102px;  
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_3_container > div > div{
    width: 294.75px;
    height: 17px;
    display: flex;
    justify-content: space-between;
}
.price_3_container > div > div > div {
    display: flex;
    gap: 8px;
    width: 94px;
    height: 17px;
}
.lesson_time{
    width: 69px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_div {
    display: flex;
    width: 294.75px;
    height: 24px;
    gap: 16px;
}
.price_div > p {
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.price_div > div {
    display: flex;
    width: 61px;
    height: 24px;
    gap: 4px;
    padding-left: 25px;
}
.price_rate{
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
/* -------------------------------------------------- */
.price_4_container {
    width: 342.75px;
    height: 429px;
    border-radius: 16px;
}
.price_4_container > img {
    width: 342.75px;
    height: 240px;
    border-radius: 16px 16px 0px 0px;
}
.price_4_container > div {
    display: flex;
    flex-direction: column;
    width: 342.75px;
    height: 223px;
    padding: 16px 24px 16px 24px;
    gap: 24px;  
}
.price_4_container > div > p {
    width: 294.75px;
    height: 102px;  
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_4_container > div > div{
    width: 294.75px;
    height: 17px;
    display: flex;
    justify-content: space-between;
}
.price_4_container > div > div > div {
    display: flex;
    gap: 8px;
    width: 94px;
    height: 17px;
}
.lesson_time{
    width: 69px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(30, 43, 51, 1);    
}
.price_div {
    display: flex;
    width: 294.75px;
    height: 24px;
    gap: 16px;
}
.price_div > p {
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.price_div > div {
    display: flex;
    width: 61px;
    height: 24px;
    gap: 4px;
    padding-left: 25px;
}
.price_rate{
    width: 217.75px;
    height: 24px;
    opacity: 70%;
    color: rgba(30, 43, 51, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
/* -------------------------------------------------- */
.div_more_class > button {
    width: 307px;
    height: 72px;
    padding: 24px 80px 24px 80px;
    gap: 16px;
    border-radius: 16px;
    background-color: rgba(164, 7, 77, 1);    
    display: flex;
}
.div_more_class > button > div {
    display: flex;
}
.div_more_class > button > div > p {
    width: 138px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.div_more_class > button > div > i {
    width: 24px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    transform: translateY(25%);
    
}
/* Container 5 */
.container_5 {
    width:1603px;
    height: 587px;
    padding: 80px ;
    gap: 80px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgba(249, 252, 255, 1);
}
.title_container_5_container {
    width: 344px;
    height: 88px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_container_5 {
    width: 222px;
    height: 29px;
    gap: 24px;
    display: flex;
    
}
.title_container_5 > img {
    width: 64px;
    height: 5px;
    margin-top: 10px;
}
.title_container_5 > p {
    width: 114px;
    height: 29px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;    
}  
.title_container_5_container > p {
    width: 344px;
    height: 43px;
    color: rgba(26, 36, 52, 1);
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
}
.testimonial_container {
    display: flex;
    width: 1443px;
    height: 259px;
    gap: 32px;
}
.testimonial_container > div {
    width: 459.67px;
    height: 259px;
    padding: 32px;
    gap: 16px;
    border-radius: 16px ;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
}
.testimonial_container > div > div {
    width: 395.67px;
    height: 91px;
    gap: 16px;
    display: flex;
}
.testimonial_container > div > div > img {
    width: 91px;
    height: 91px;
    border-radius: 50%;
}
.testimonial_container > div > div > div {
    width: 288.67px;
    height: 91px;
    gap: 16px;
    display: flex;
    flex-direction: column;    
}
.name_job {
    width: 288.67px;
    height: 51px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.name_job > p:nth-child(1) {
    width: 288.67px;
    height: 24px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.name_job > p:nth-child(2) {
    width: 288.67px;
    height: 19px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.rate_job {
    display: flex;
    width: 61px;
    height: 24px;
    gap: 4px;
}
.rate_job > p {
    width: 33px;
    height: 24px;
    opacity: 70%;    
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.testimonial_container > div > p {
    width: 395.67px;
    height: 88px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);    
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    text-align: left;    
}
/* --------------------------------------------------
    Container 6 */
.container_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1603px;
    height: 983px;
    padding: 80px;
    gap: 80px;
}
.blog_title {
    display: flex;
    width: 140px;
    height: 29px;
    gap: 24px;
    opacity: 0px;
    
}
.blog_title > img {
    width: 64px;
    height: 5px;
    margin-top: 10px;
}
.blog_title > p {
    width: 114px;
    height: 29px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: left;    
}  
.blog_title_container > p {
    width: 268px;
    height: 43px;  
    color: rgba(26, 36, 52, 1);
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: center;
}
.blog_title_container {
    width: 268px;
    height: 88px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article_container {
    width: 1443px;
    height: 503px;
    gap: 24px;
    display: flex;    
}
.article_container > div {
    width: 465px;
    height: 503px;
    padding: 24px;
    gap: 24px;
    border-radius: 32px;
    border: 1px solid rgba(235, 239, 246, 1);
    display: flex;
    flex-direction: column;
}
.article_container > div > img {
    width: 417px;
    height: 274px;
    border-radius: 8px; 
}
.info_article {
    display: flex;
    justify-content: space-between;
    width: 417px;
    height: 17px;
}
.info_article > div {
    width: 118px;
    height: 17px;
    gap: 8px;
    display: flex;    
}
.info_article > div > p {
    width: 93px;
    height: 17px;
    color: rgba(26, 36, 52, 1);  
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(26, 36, 52, 1);
}
.article_container > div > p {
    width: 417px;
    height: 68px;
    color: rgba(26, 36, 52, 1);
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    text-align: left;
}
.readmore_container {
    width: 417px;
    height: 24px;
    gap: 16px;
    display: flex;
    justify-content: center;
}
.readmore_container > p {
    width: 108px;
    height: 24px;
    opacity: 70%;
    color: rgba(26, 36, 52, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;    
}
.readmore_container > i {
    width: 24px;
    height: 24px;
    opacity: 80%;   
    transform: translateY(30%);
}
.view_all_button {
    width: 307px;
    height: 72px;
    padding: 24px 80px 24px 80px;
    gap: 16px;
    border-radius: 16px;
    background-color: rgba(164, 7, 77, 1);
}
.view_all_button > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.view_all_button > div > p {
    width: 80px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    color: rgba(255, 255, 255, 1);    
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.view_all_button > div > i {
    width: 24px;
    height: 24px;
    transform: translateY(30%);
    color: rgba(255, 255, 255, 1);
}
/* container 7 */
.container_7 {
    width: 1603px;
    height: 248px;
    padding: 80px;
    gap: 160px;
    display: flex;
    background-color: rgba(164, 7, 77, 1);
}
.container_7 > p {
    width: 641.5px;
    height: 86px;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);        
}
.container_7 > div {
    display: flex;
    position: relative;
}
.container_7 > div > img {
    width: 32px;
    height: 32px;
    opacity: 70%;
    position: absolute;
    top: 28px;
    left: 40px;
}
.container_7 > div > input {
    width: 641.5px;
    height: 88px;
    padding: 8px 8px 8px 80px;
    gap: 8px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;   
}
.container_7 > div > button {
    width: 187px;
    height: 72px;
    padding: 24px 48px 24px 48px;
    gap: 16px;
    border-radius: 16px;
    background-color: rgba(26, 36, 52, 1);
    position: absolute;
    left: 445px;
    top: 7px;
}
.container_7 > div > button > p {
    width: 91px;
    height: 24px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);    
}

/* ----------------------------------------------- */
footer {
    width: 1603px;
    height: 382px;
    padding: 80px;
    justify-content: space-between;
    display: flex;
    background-color: rgba(26, 36, 52, 1); 
}
.footer_container_1 {
    width: 345px;
    height: 170px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.footer_container_1 > div {
    width: 166px;
    height: 38px;
    gap: 8px;  
    display: flex;
    align-items: center;
}
.footer_container_1 > div > p {
    width: 116px;
    height: 38px;
    font-family: Plus Jakarta Sans;
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);    
}
.footer_container_1 > p {
    width: 345px;
    height: 108px;
    opacity: 70%;   
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);     
}
.footer_container_2 {
    width: 764px;
    height: 222px;
    gap: 80px;
    display: flex;
}
.link_container {
    width: 141px;
    height: 222px;
    gap: 16px;
    display: flex;
    flex-direction: column;    
}
.link_container > p {
    width: 141px;
    height: 38px;
    font-family: Plus Jakarta Sans;
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);        
}
.link_container > div > p {
    width: 95px;
    height: 36px;
    opacity: 70%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);        
}
.resource_container {
    width: 191px;
    height: 178px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.resource_container > p {
    width: 138px;
    height: 38px;
    font-family: Plus Jakarta Sans;
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);        
}
.resource_container > div > p {
    width: 191px;
    height: 36px;
    opacity: 70%;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);        
}
.social_media_container {
    width: 272px;
    height: 102px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.social_media_container > p {
    width: 167px;
    height: 38px;
    font-family: Plus Jakarta Sans;
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    color: rgba(255, 255, 255, 1);        
}
.social_media_container > div {
    width: 272px;
    height: 48px;
    gap: 8px;
    opacity: 70%;
    display: flex;
}
.social_media_container > div > img {
    width: 48px;
    height: 48px;
    color: rgba(255, 255, 255, 1);
}